/*======================================================================
  EXTENDS & MIXINS
======================================================================*/
@import '~stylus-media-queries'
@import '~stylus-easing'
@import '~stylus-reset'
@import '~brindille-stylus-extends'

/*======================================================================
  EXTENDS
======================================================================*/
@import './config/variables.styl'
@import './config/fonts.styl'

/*======================================================================
  BASE
======================================================================*/
reset()

html
  @extend .full-size

body,
.Section
  @extend .full-size-relative
  padding 20px


#symbols
  display none

/*======================================================================
    COMPONENTS
======================================================================*/
@import '../views/**/*.styl'